.calculator {
  display: flex;
  flex-direction: column;
}

.display {
  text-align: right;
}
.history {
  margin-bottom: 30px;
}
.output {
  background: #7373736d;
  padding: 5px;
  border-radius: 5px;
}
.numPad {
  gap: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.numPad:last-child {
}
.history-list {
  display: flex;
  flex-direction: row;

  text-align: right;
  width: 100%;
}
